/**
* EasyZoom core styles
*/
.easyzoom {
	position: relative;

	/* 'Shrink-wrap' the element */
	display: inline-block;
	*display: inline;
	*zoom: 2;
}

.easyzoom img {
	vertical-align: bottom;
}

.easyzoom.is-loading img {
	cursor: progress;
}

.easyzoom.is-ready img {
	cursor: crosshair;
}

.easyzoom.is-error  img {
	cursor: not-allowed;
}

.easyzoom-notice {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 150;
	width: 10em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #FFF;
	box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
	border: 2px solid rgba(255,255,255,0.8);
	border-radius: 10px;
	position:absolute;
	z-index: 100;
	overflow: hidden;
	background: rgba(255,255,255,0.5);
}

.show-flyout a img{
	visibility:hidden;
}

/**
* EasyZoom layout variations
*/
.easyzoom--overlay .easyzoom-flyout {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	margin-left: 20px;
}

.easyzoom-zoom{
  width: 30px;
  height: 30px;
  background-image: url(../icon_zoom.png);
  background-repeat: no-repeat;
  cursor: pointer;
  background-size:contain;
  position: absolute;
  bottom: 20px;
  right:80px;
  visibility: hidden;
}

.easyzoom.show-flyout .easyzoom-zoom{
  visibility: hidden;
}


@media only screen and (max-width : 480px){
  .easyzoom-zoom{
    visibility:visible;
  }

}