<!-- $title Über uns | Raincombi -->
<!-- @include header -->

%main.page-content
	%section
		.inner-wrapper
			%h1	Über uns

			%p Immer mehr Menschen nutzen im urbanen Raum das Fahrrad. Umweltbewusstsein, Schnelligkeit, Flexibilität, Sportlichkeit, Gesundheit – die Gründe dafür sind vielfältig. Und weltweit reagieren Stadtverwaltungen darauf mit radfreundlicheren Verkehrskonzepten. Nur das Wetter spielt nicht immer mit, wenn die Menschen täglich in die Pedale treten wollen. Mit diesem Problem setzte sich Mag. Oksana Stavrou im Rahmen ihres MBA-Studiums auseinander. Die begeisterte City-Bikerin gründete 2011 die ORAIN GmbH und entwickelte das Design der RAINCOMBI Overalls.
			%p Von Beginn an steht die Marke RAINCOMBI für faire Erzeugung und hohe Qualität „Made in EU“. Verwendete Materialien stammen aus Schweden und Deutschland und sind schadstoffgeprüft (Oeko-Tex 100). Den Mitarbeiterinnen und Mitarbeiter der Produktion in Tschechien gehört die Fabrik, sie arbeiten selbstbestimmt.
			%figure
				%blockquote „RAINCOMBI ist nicht nur innovativ, sondern auch durch und durch fair. Damit wollen wir Weltreisen im Fertigungsprozess vermeiden. Respekt vor Mensch und Umwelt ist unsere oberste Prämisse.“
				%figcaption	Oksana Stavrou

			%h2 Mag. Oksana Stavrou, MBA

			%p Die Tochter einer Uni-Dozentin für Textilkunst in der Ukraine versorgte ihre Puppen und später auch sich selbst mit eigenhändig genähten Kreationen. Sie studierte Jus und arbeitete erfolgreich in einem österreichischen Versicherungskonzern. Während der Karenzzeit mit ihren zwei Töchtern und inspiriert durch ein gleichzeitig absolviertes MBA-Studium meldete sich aber ihre Leidenschaft fürs Designen wieder. Und weil es keine wirklich praktische Regenbekleidung für Citybiker gab, erfand sie diese.

			%h2 Das Team

			%p ORAIN wächst. Seit dem Sommer 2014 hat Oksana Unterstützung, um weitere innovative Produkte zu entwickeln und auf den Markt zu bringen. 

			%p
				Oksana Stavrou - Geschäftsführung<br>
				Reinhard Herok - Marketing<br>



<!-- @include footer -->