<!-- $title Händler | RAINCOMBI -->
<!-- @include header -->

%main.page-haendler

	%section.page-title
		.inner-wrapper
			%nav.nav-haendler-switch
				%ul
					%li
						%a.active(href="<!-- @path haendler -->") <span aria-hidden="true" class="icon_map_alt"></span> Karte
					%li
						%a(href="<!-- @path haendler-list -->") <span aria-hidden="true" class="icon_menu-square_alt2"></span> Liste
			%h1	Händler finden

	%section
		.inner-wrapper
			.haendler-map

%section.sec-bottom-links
	.inner-wrapper
		%section.sec-find-reseller
			%h2	Lieber online kaufen?
			%p Deinen RAINCOMBI ganz einfach im Webshop bestellen und zu dir nachhause liefern lassen.
			%a.btn(href="#") Overall Parka
			%a.btn(href="<!-- @path overall-sporty -->") Overall Sporty
		%section.sec-find-reseller
			%h2	Verkaufspartner werden
			%p Ob Bikeshop, Sportgeschäft oder Hotelboutique … auch deine Kunden profitieren von RAINCOMBI. 
			%a.btn(href="#") Partner werden


<!-- @include footer -->