<!-- $title Händler | RAINCOMBI -->
<!-- @include header -->

%main.page-haendler

	%section
		.inner-wrapper
			%nav.nav-haendler-switch
				%ul
					%li
						%a.active(href="<!-- @path haendler -->") <i class="fa fa-map-marker"></i> Karte
					%li
						%a(href="<!-- @path haendler-list -->") <i class="fa fa-align-justify"></i> Liste
			%h1	Händler finden

			%nav.nav-haendler
				%ul
					%li.country	Österreich:
					%li 
						%a(href="#wien") Wien
					%li
						%a(href="#") Niederösterreich
					%li
						%a(href="#oberoesterreich") Oberösterreich
					%li
						%a(href="#") Kärnten
					%li
						%a(href="#") Vorarlberg
					%li
						%a(href="#") Tirol
					%li
						%a(href="#") Salzburg
					%li
						%a(href="#") Burgenland
					%li
						%a(href="#") Steiermark
				%ul
					%li.country Weitere Länder:
					%li
						%a(href="#") Deutschland
					%li
						%a(href="#") Schweiz

	%section.haendler-map
		%img(src="<!-- @path map -->")

%section.sec-bottom-links
	.inner-wrapper
		%section.sec-find-reseller
			%h2	Lieber online kaufen?
			%p Deinen RAINCOMBI ganz einfach im Webshop bestellen und zu dir nachhause liefern lassen.
			%a.btn(href="#") Overall Parka
			%a.btn(href="<!-- @path overall-sporty -->") Overall Sporty
		%section.sec-find-reseller
			%h2	Verkaufspartner werden
			%p Ob Bikeshop, Sportgeschäft oder Hotelboutique … auch deine Kunden profitieren von RAINCOMBI. 
			%a.btn(href="#") Partner werden


<!-- @include footer -->