<!-- $title Raincombi Overall Sporty Regenoverall -->
<!-- @include header -->

%main

	%h1	Overall Sporty

	%ul.ul-features
		%li In der City und Outdoor
		%li In 30 Sekunden angezogen ohne Schuhe ausziehen
		%li Wasser- und winddicht, atmungsaktiv
		%li Mehr Sicherheit im Verkehr: gut sehen und immer gut sichtbar sein
		%li Integrierte Hüfttasche zum Transport
		%a.link-down(href="#features") Alle Features
	
	%h2 Farbe

	%h2 Größe
	%select
		%option Größe wählen
		%option Small (S)
		%option Medium (M)
		%option Medium-Power (M-P)
		%option Large (L)
		%option Large (L-P)
		%option X-Large (L)
		%option X-Large-Power (XL-P)
	%a(href="#") Welche Größe passt mir?

	%p.price € 270,00
	%p
		inkl. MwSt.<br>Details zu Bezahlung, Versand und Rückgabe finden Sie <a href="#">hier</a>.
	%a.btn-action(href="#") In den Warenkorb


<!-- @include footer -->