<!-- $title Raincombi Overall Sporty Regenoverall -->
<!-- @include header -->

%main.page-product
	.shop-container
		.inner-wrapper
			.shop-gallery
				%img.icon-eu-made(src="<!-- @path icon_eu-made-light.svg -->")
				.shop-gallery-thumbs
					%ul
						%li.thumb-active
							%a(href="#")
								%img(src="<!-- @path sporty-verwandlung-4 -->")
						%li
							%a(href="#")
								%img(src="<!-- @path sporty-verwandlung-4 -->")
						%li
							%a(href="#")
								%img(src="<!-- @path sporty-verwandlung-4 -->")
				.shop-gallery-img-big
					%img(src="<!-- @path sporty-verwandlung-4 -->")

			.shop-details
				%h1	RAINCOMBI Overall Sporty

				%ul.ul-features
					%li In der City und Outdoor
					%li In 30 Sekunden angezogen ohne Schuhe ausziehen
					%li Wasser- und winddicht, atmungsaktiv
					%li Mehr Sicherheit im Verkehr: gut sehen und immer gut sichtbar sein
					%li Integrierte Hüfttasche zum Transport
				.link-down
					%a(href="#features") Alle Features
				
				%div
					%div
						%h2 Farbe
						<span aria-hidden="true" class="icon_check_alt shop-color" style="color: #00a5c5;"></span>
						
					%div
						%h2
							Größe
							%a.link-size(href="#") Größentabelle
						%select.size
							%option Größe wählen
							%option Small (S)
							%option Medium (M)
							%option Medium-Power (M-P)
							%option Large (L)
							%option Large (L-P)
							%option X-Large (L)
							%option X-Large-Power (XL-P)


				%p.price 
					%s € 270,00
					€ 210,00
				%p.price-details
					inkl. MwSt., Details zu Bezahlung, Versand und Rückgabe finden Sie <a href="#">hier</a>.
				%a.btn-buy(href="#") In den Warenkorb

	%section.sec-verwandlung#features
		.inner-wrapper
			%h2
				%img.headline-icon(src="<!-- @path icon_uhr.svg -->" width="50px")
				Ruckzuck mit Ohne-Schuhe-Ausziehen
			.verwandlug-gallery
				%ul
					%li
						%img(src="<!-- @path sporty-verwandlung-1 -->")
					%li
						%img(src="<!-- @path sporty-verwandlung-2 -->")
					%li
						%img(src="<!-- @path sporty-verwandlung-3 -->")
					%li
						%img(src="<!-- @path sporty-verwandlung-4 -->")

			%p Einfach in die Ärmel, wie in einen Mantel hineinschlüpfen, den oberen und dann zwei untere Reißverschlüsse zumachen – in 30 Sekunden! 

	%section.sec-belueftung
		.inner-wrapper
			%div
				%h2
					%img.headline-icon(src="<!-- @path icon_luft.svg -->"  height="40px")
					Belüftung mit System
				%p Die clevere Linienführung sorgt für optimale Belüftung bei der Fahrt. Die am hinteren Taillenabschnitt platzierte Gummikordel strafft das Overall-Vorderteil am Körper, nichts flattert. Das Rückenteil bedeckt die Seiten und hält Regenwasser fern.
			%div
				%img.feature-image(src="<!-- @path sporty-belueftung -->")

	%section.sec-kapuze
		.inner-wrapper
			%div
				%h2 
					%img.headline-icon(src="<!-- @path icon_ampel.svg -->" height="60px")
					Sicher durch den Verkehr
				%p Die Kapuze wird mit zwei Gummizügen exakt reguliert, auch über einem Fahrradhelm. Reflektoren im Stirnbereich und seitlich.
			%div
				%img.feature-image(src="<!-- @path sporty-kapuze -->")

	%section.sec-small-feature-container
		.inner-wrapper
			%section.sec-verpackung
				%img.feature-image(src="<!-- @path sporty-rolle -->")
				%h2 Nimms leicht
				%p Mit 430g (Größe S) ist der Overall Sporty ein echtes Fliegengewicht. Eingepackt wird er zur handlichen Rolle, die du einstecken oder am Fahrrad befestigen kannst.

			%section.sec-beine
				%img.feature-image(src="<!-- @path sporty-beine -->")
				%h2 Hosenbeine regulierbar
				%p Die Breite wird mit Klettverschlüssen angepasst, optimaler Kettenschutz. Auch die Taillenweite kann je nach Bedarf auf darunter getragene Kleidung eingestellt werden. 

	%section.sec-text-features
		.inner-wrapper
			%div
				%h2 Absolut dicht
				%p Die Nähte sind von innen mit einem wasserundurchlässigen Band versiegelt. Die Reißverschlüsse sind wasserdicht und zusätzlich mit einer Klettverschluss-Blende abgedeckt. 
			%div
				%h2 Atmungsaktiv
				%p Du kannst den leichten Overall Sporty über Alltagskleidung tragen. Kein Schwitzen im Sommer, im Winter passt Warmes drunter. Der Oberstoff ist wasser- und winddicht sowie atmungsaktiv. 
			%div
				%h2 Fair
				%p Die bei der Herstellung verwendeten Materialien sind Oeko-Tex 100 zertifiziert, entsprechen also strengen Produktionsvorgaben und stammen fast ausschließlich aus der Europäischen Union.  

	%section.sec-pflege
		.inner-wrapper
			%h2
				%img.headline-icon(src="<!-- @path icon_pflege.svg -->" height="25px")
				Extrem pflegeleicht

			%div
				%h3 Nach Benutzung
				%ul.ul-check
					%li Verbleibende Wassertropfen mit der Hand abstreifen
					%li Overall in einem ausreichend belüfteten Raum aufhängen
					%li Alternativ mit einem Handtuch schnell trocken wischen

			%div
				%h3 Reinigen
				%ul.ul-check
					%li Per Handwäsche oder Handwaschgang mit mildem Waschmittel waschen
					%li Bei hartnäckigem Schmutz gelegentlich Maschinenwäsche (40 Grad) mit herkömmlichem Waschmittel und ohne Weichspüler
					%li Chemische Reinigung möglich.

			%div
				%h3 Trocken und Bügeln
				%p Schonendes Trocknen im Wäschetrockner oder alternativ durch Bügeln auf niedriger Stufe reaktiviert die wasserabweisenden Eigenschaften der Imprägnierung auf der Außenseite des Stoffes: Von rechts (Außenseite) bügeln, dabei Plastikdetails (Kordelstopper, Reißverschlüsse, Reflexstreifen usw.) aussparen.

	%section.sec-table
		%table.table-compare
			%thead
				%tr
					%td
					%td 
						%a(href="#")Overall Parka
					%td.td-selected Overall Sporty
			%tbody
				%tr
					%th wasserdicht
					%td 8.000 mm
					%td.td-selected 8.000 mm
				%tr
					%th winddicht
					%td <span aria-hidden="true" class="icon_check_alt"></span>
					%td.td-selected <span aria-hidden="true" class="icon_check_alt"></span>
				%tr
					%th atmungsaktiv
					%td RET 13,5
					%td.td-selected RET 13,5
				%tr
					%th Gewicht
					%td 540–580 g
					%td.td-selected 430–560 g
				%tr
					%th Als Overall tragbar
					%td <span aria-hidden="true" class="icon_check_alt"></span>
					%td.td-selected <span aria-hidden="true" class="icon_check_alt"></span>
				%tr
					%th Als Parka tragbar
					%td <span aria-hidden="true" class="icon_check_alt"></span>
					%td.td-selected <span aria-hidden="true" class="icon_close"></span>
				%tr
					%th Brusttasche
					%td <span aria-hidden="true" class="icon_check_alt"></span>
					%td.td-selected <span aria-hidden="true" class="icon_close"></span>
				%tr
					%th Belüftung
					%td <span aria-hidden="true" class="icon_close"></span>
					%td.td-selected <span aria-hidden="true" class="icon_check_alt"></span>
				%tr
					%th Tasche zum In-sich-Verstauen 
					%td <span aria-hidden="true" class="icon_check_alt"></span>
					%td.td-selected <span aria-hidden="true" class="icon_check_alt"></span>
				%tr
					%th Ärmelabschluss
					%td Ärmelbündchen mit Daumenloch
					%td.td-selected Gummibund
				%tr
					%th Größen<br><a href="#">Größentabelle</a>
					%td S, M, L, XL, M-P, L-P, XL-P
					%td.td-selected S, M, L, XL, M-P, L-P, XL-P
				%tr
					%th Farben
					%td
						%i.fa.fa-circle(style="color: #ff0000;")
						%i.fa.fa-circle(style="color: #2e3192;")
						%i.fa.fa-circle(style="color: #1a1a1a;")
					%td.td-selected 
						%i.fa.fa-circle(style="color: #00a5c5;")
				%tr
					%th Preis
					%td € 270,00
					%td.td-selected € 270,00
					
		.btn-container
			%a.btn-buy(href="#") In den Warenkorb

	.sticky-shopping-cart
		.inner-wrapper
			%a.btn-action.btn-cart(href="<!-- @path shop-cart -->") 1 Produkt im Warenkorb

<!-- @include footer -->

