<!-- $title Presse | Raincombi -->
<!-- @include header -->

%main.page-content
	%section
		.inner-wrapper
			.content-container
				%h1	Presse

				%p 
					Zur Veröffentlichung in Online- und Printmedien können Sie unsere hochauflösenden Bilder und Grafiken herunterladen. Bitte bei den Fotos als Bildquelle angeben: XXXXXX
				%p
					%a.btn(href="#") <span aria-hidden="true" class="icon_download"></span> Bilder herunterladen
					%a.btn(href="#") <span aria-hidden="true" class="icon_download"></span> Logo herunterladen
					<br>


				%h2 Pressekontakt
				%p <strong>Reinhard Herok</strong><br><a href="mailto:reinhard@raincombi.at">reinhard@raincombi.at</a><br>+43 664 427 5010


				%h2 Presse-Artikel

				%ul.presse-artikel
					%li 
						.presse-date 18.08.2014
						.presse-link
							%a(href="#") jetztbewussterleben.de: “…Plastik reduzieren”
					%li 
						.presse-date 05.08.2014
						.presse-link
							%a(href="#") JolieBODY: “Im grünen Bereich”
					%li 
						.presse-date 05.08.2014
						.presse-link
							%a(href="#") VITAL: “Leitungswasser ist Leistungswasser”
					%li 
						.presse-date 27.05.2014
						.presse-link
							%a(href="#") stylish.de: “Soulbottles: Nachhaltigkeit auf die stilvolle Art”
					%li 
						.presse-date 31.03.2014
						.presse-link
							%a(href="#") münchen-querbeet.de: “Soulbottles: München-Trinkflasche aus Glas exklusiv auf dem Tollwood”


<!-- @include footer -->