
////////////////

.blog-header {
	padding: 2em $inner-distance 0;
	@extend .entry-header;
}

.site-content {
	@include respond-to(bp-large) {
		padding: 0 $inner-distance;
	}
    margin: 1.5em 0 0;
    @include respond-to(bp-large) {
    	margin-bottom: 3em;
    }
}

.site-content .inner-wrapper {
	@include outer-container;
	max-width: $max-width;
}

.content-area {
	padding: 0 $inner-distance;

	@include respond-to(bp-large) {
		padding: 0;
	}

	@include respond-to(bp-large) {
		@include span-columns(8);
	}
}



// #############
// ## SIDEBAR ##
// #############

.widget-area {
	@include outer-container;
	background: $section-background;
	padding: 2em $inner-distance 4em;
	margin-top: 5em;

	@include respond-to(bp-large) {
		padding: 0;
		margin-top: 0;
		border-top: 0;
		border-left: 2px solid $gray-1;
		padding-left: 2em;
	}

	@include respond-to(bp-large-only) {
		font-size: 0.9em;
	}

	
	@include respond-to(bp-large) {
		background: none;
		@include shift(1);
		@include span-columns(3);
	}

	> aside {  // Mehrspaltige Widget-Area
		@include respond-to(bp-medium) {
			@include span-columns(6);
  			@include omega(2n);
  		}
		@include respond-to(bp-large) {
			@include span-columns(12);
  		}

  		// Abstand zw. den Spalten breiter machen, wenn sie unterhalb des Artikels sind
		&:nth-child(odd) {
  			@include respond-to(bp-medium) {
  				padding-right: 2em;
  			}
  			@include respond-to(bp-large) {
  				padding-right: 0;
  			}
  		}
  		&:nth-child(even) {
  			@include respond-to(bp-medium) {
  				padding-left: 2em;
  			}
  			@include respond-to(bp-large) {
  				padding-left: 0;
  			}
  		}
	}

	h1 {
		margin: 2em 0 0.5em;
		padding-bottom: 0.2em;
		font-size: 1em;
		font-style: normal;
		border-bottom: 2px solid $text-color-prim;
	}

	ul, ol {
		list-style: none;
		padding: 0;
		margin: 0 0 1em;
	}

	li {
		margin-bottom: 0.5em;
	}

	a:link, a:visited {
		text-decoration: none;
	}
}

.widget_search {
	margin-top: 2em;
	@include respond-to(bp-large) {
		margin-top: 0;
	}
}


// #############
// ## ARTIKEL ##
// #############


.entry-header {

	// Links

	a:link, a:visited {
		text-decoration: none;
		color: inherit;
	}

	a:hover {
		color: $brand-color-prim;
	}

	h1 {
		@include respond-to(bp-small-only) {
			font-size: 1.7em;
		}
	}
}

.entry-title {
	margin-bottom: 0.2em;
}
.entry-meta {
	color: $gray-2;
	font-size: 0.9em;
}


p.leadin {  // Einleitungsabsatz
	margin-bottom: 2em;
	font-size: 1.15em;
	font-style: italic;
	color: lighten($background-color-footer, 10%);
	line-height: 1.5;
	font-weight: 600;

	a:link, a:visited {
		color: inherit;
	}
}

.entry-content {
	margin: 1em 0;

	@include respond-to(bp-medium) {
		margin: 2em 0;
	}

	@include respond-to(bp-large) {
		font-size: 0.9em;
	}

	img {
		max-width: 100%;
		@include respond-to(bp-large) {
			max-width: 98%;
		}
	}

	blockquote {
		@include respond-to(bp-medium) {
			margin-left: 2em;
		}
		margin-right: 0.5em;
		p {
			line-height: 1.4;
		}
	}

	ul, ol {
		margin-bottom: 2em;
	}

	li {
		margin-bottom: 0.7em;
	}
}

.entry-footer {
	border-top: 3px solid $gray-1;
	padding: 0;
	margin: 3em 0 1em;
	text-align: center;
}

.nav-sharing {
	font-size: 1.2em;
	margin-top: -1.1em;

	@include respond-to(bp-small-only) {
		font-size: 1.6em;
	}

	li {
		display: inline-block;
	}
	
	a:link, a:hover {
		display: inline-block;
		padding: 0.5em;
		border-radius: 4px;
		font-size: 1em;
		text-align: center;
		width: 2em;
		height: 2em;
		color: #fff;
		background: $gray-1;
		@include transition(none);
		text-decoration: none;
	}
	a:hover {
		color: #fff;
		background-color: $brand-color-prim;
	}
}

.post-navigation {
	padding: 1em 0;
	line-height: 1;
	@include clearfix;

	a:link, a:visited {
		text-decoration: none;
	}
	@include respond-to(bp-small-only) {
		text-align: center;
	}
}

.nav-previous-arrows {
	font-family: "ElegantIcons";
	font-size: 1.2em;
	position: relative;
	top: 0.15em;
}
.nav-previous {
	float: left;

	a:link:before {
		@extend .nav-previous-arrows;
		content: "\34";
	}
}
.nav-next {
	float: right;

	a:link:after {
		@extend .nav-previous-arrows;
		content: "\35";
	}
}


// ################
// ## KOMMENTARE ##
// ################

.comments-area {
	max-width: 38em;
	@include respond-to(bp-small-only) {
		text-align: center;
	}
}

.comments-title {
	color: $text-color-prim;
	font-size: 1.7em;
	margin-bottom: 0.3em;
}

.writecomment {
	@extend .link-down;
	margin-top: 0;
}

.comment-list {
	margin: 2em 0 4em;
	list-style: none;
	padding: 0;
	text-align: left; // damit es auch bei kleinen BP links ist
}

$width-avatar: 100px;

.avatar {
	@include size($width-avatar*0.7);
	margin: 0 0.7em 0 0;
	border-radius: 10px;
	float: left;
	@include respond-to(bp-large) {
		@include size($width-avatar*0.8);
		margin-left: $width-avatar*-1;
	}
}

.comment-author {
	font-size: 1.1em;
}

.comment-metadata {
	color: $gray-2;
	font-size: 0.8em;

	a:link, a:visited {
		text-decoration: none;
		color: inherit;
	}
	a:hover {
		color: $brand-color-prim;
	}
}

.comments-header-container {
	@include display(flex);
	@include align-items(center); // vertikal zentrierter Name neben Avatar

	@include respond-to(bp-large) {
		display: block; // flexbox wieder aufheben
	}
}

.comment-content {
	line-height: 1.5;
}


.comment-reply-title {
	@extend .comments-title;
}

.comments-area {
	@include respond-to(bp-large) {
		padding-left: $width-avatar;
	}
}

.required {
	font-weight: 400;
	color: $gray-2;
}
