.btn {
  display: inline-block;
  margin: 0.2em 0.5em 0.2em 0;
  padding: 0.3em 0.8em 0.5em;
  background-color: $brand-color-prim;
  border-radius: 4px;
  font-weight: 400;
  @include transition(background-color 0.2s ease-out);

  &:link, &:visited {
    color: #fff;
    text-decoration: none;
  }

  &:hover {
    background-color: $background-color-footer;
  }
  &:active, &:focus {}
}

.btn-action {
  @extend .btn;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  &:link, &:visited {}
  &:hover, &:active, &:focus {}
}

.btn-buy {
  font-size: 1em;
  text-align: center;
  padding-bottom: 0.4em;


  &:before {
    font-family: "ElegantIcons";
    content: "\e015";
    margin-right: 8px;
    margin-left: -4px;
  }
}