*, *:before, *:after {
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
}

.handhelds-hide { // Links in Meta-Nav bei kleiner Auflösung ausblenden
  @include respond-to(bp-small-only) {
    display: none;
  }
}

.bp-medium-hide { // Links in Meta-Nav bei kleiner Auflösung ausblenden
  @include respond-to(bp-medium-only) {
    display: none !important;
  }
}

.inner-wrapper {
    max-width: $max-width;
    margin: 0 auto;
}