a:link, a:visited {
  color: $brand-color-prim;
  @include transition(0.3s all ease-out);
}

a:hover {
  color: $brand-color-sec;
  text-decoration: none;
}

a:active, a:focus {}


.link-down {
	display: block;
	margin-top: 1em;

	a:link, a:visited {
		text-decoration: none;
	}
	a:link:after {
		font-family: "ElegantIcons";
		content: "\3b";
		margin-left: 0.2em;
		position: relative;
		top: 0.1em;
	}
}