// NAVIGATION

// ## Resets ##
nav ul {
  margin: 0;
  padding: 0;
}

// ## Links ##
nav {
  a:link, a:visited {
    text-decoration: none;
    transition: 0.3s ease-in-out all;
  }
}

.nav-meta {
  a:link, a:visited {
    color: $brand-color-sec;
  }
  a:hover {
    color: $brand-color-prim;
  }
}

// ## Hauptnavigation ##
.nav-main,
.nav-meta {
  @include respond-to(handhelds) {
    font-size: 1.2em;
    margin-left: 2.2em;
    display: flex;
    flex-flow: column;
  }

  @include respond-to(medium-screens) {
    text-align: right;
  }

  li {
    margin-right: 0.3em;
    &:last-child {
      margin-right: none;
    }
  }
  .fa {
    font-size: 1.2em;
  }
}

.nav-meta {
  @include respond-to(handhelds) {
    order: 2;
  }

  @include respond-to(small-screens) {
    ul li {
      display: inline-block;
    }
  }

  @include respond-to(medium-screens) {
    font-size: 0.8em;
  }
}

.nav-main {
  font-weight: 600;
  ul li {
    @include respond-to(small-screens) {
      display: inline-block;
    }
  }
  @include respond-to(small-screens) {
    font-size: 1.2em;
  }
}
