// Design einzelner Module

header {
  background-color: rgb(230, 230, 230);
  padding: 1em $inner-distance;

  @include respond-to(bp-large) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.5em $inner-distance;
  }
}

main {
  margin: 0;
}

.handhelds-hide { // Links in Meta-Nav bei kleiner Auflösung ausblenden
  @include respond-to(bp-small-only) {
    display: none;
  }
}

.logo {
  width: 10em;
  margin-bottom: 0.8em;
  
  @include respond-to(bp-medium) {
    width: 12em;
  }

  @include respond-to(bp-large) {
    margin-bottom: 0;
  }
}

// ################
// ## GENERELLES ##
// ################


section {
  p {
    margin: 0;
    padding-bottom: 1em;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    padding-top: 1em;
  }
}


// ###############
// ## HOME-PAGE ##
// ###############

section.sec-keyvisual {
  img {
    width: 100%;
  }
}

section.sec-feature-list {
  @include outer-container;
  background: $section-background;
  padding: 1em $inner-distance 2em;
  text-align: center;

  h2 {
    max-width: $max-width-text/1.7;
    margin: 0 auto 1em;
  }

  h3 {
    text-transform: uppercase;
    font-style: italic;
    color: $brand-color-prim;
    margin: 1em 0 0.3em 0;
  }
  p {
    font-size: 0.9em;
    @include respond-to(bp-small-only) {
      display: none; // Beschreibungstexte bei Mobile ausblenden
    }
  }

  .icon-drop {
    width: 80px;
    @include respond-to(bp-medium) {
      width: 100px;
    }
    @include respond-to(bp-xlarge) {
      width: 120px;
    }
  }

}

.flex-grid-container {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);

  > div {
    width: 50%;
    padding: 1em 1em 0 1em;
    @include respond-to(bp-medium) {
      width: 33%;
    }
    @include respond-to(bp-xlarge) {
      width: 20%;
    }
  }
}

section.sec-shop-overview {
  @extend section.sec-small-feature-container; // Zweispaltigkeit
  background: $section-background;
  text-align: center;
  @include respond-to(bp-large) {
    border-top: 0.5em solid $background-color;
  }

  .img-shop {  // Shop-Bilder
    margin: 0 auto;
    max-width: 220px;
    @include respond-to(bp-medium) {
      max-width: 300px;
    }
  }

  .icon-eu-made {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 5em;
  }

  a:link, a:visited {
    text-decoration: none;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  ul {
    max-width: 18em;
    margin: 1em auto;
  }

  > section {
    padding: 2em $inner-distance;
    border-top: 0.5em solid $background-color;
    position: relative;  // Als Referenz für Eu-Made-Icons

    @include respond-to(bp-large) {
      border-top: none;
    }
    &:first-child{
      @include respond-to(bp-large) {
        border-right: 0.25em solid $background-color;
      }
    }
    &:last-child{
      @include respond-to(bp-large) {
        border-left: 0.25em solid $background-color;
      }
    }

  }

}

// ##################
// ## PRODUKTSEITE ##
// ##################


.product-page section {
  padding: 0 $inner-distance;

  @include respond-to(bp-small-only) {
    text-align: center;  // Text überall zentrieren bei kleinstem Breakpoint
  }

  &:nth-child(2n+1) { // Hintergrundfläche jeder zweiten Sektion anders
    background: $section-background;
  }
}

.headline-icon {
  display: block;

  @include respond-to(bp-small-only) {
    margin: 0 auto; // Icon überall zentrieren bei kleinstem Breakpoint
  }
}

.feature-image {
  width: 100%;
  @include respond-to(bp-small-only) {
    max-width: 70%;
  }
}

// ##############
// #### SHOP ####
// ##############

.shop-container {
  padding: 0;
  text-align: inherit;

  @include respond-to(bp-large) {
    @include outer-container;
    padding: 1em $inner-distance;
    background: url(../img/shop-bg-big.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

.shop-gallery {
  padding: 1em $inner-distance;
  background: url(../img/shop-bg-big.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include outer-container;

  @include respond-to(bp-large) {
    background: none;
    @include span-columns(6);
  }
}

.shop-gallery-thumbs {
  @include span-columns(2);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    background-color: rgba(255,255,255,0.7);
    @include size(75px); // width: 75; height: 75;
    @include respond-to(bp-medium) {
      @include size(90px);
    }
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
  }
  img {
    height: 100%;
    display: block;
    margin: 0 auto;
  }

}

li.thumb-active {
  background-color: rgba(255,255,255,0.95);
}

.shop-gallery-img-big {
  @include span-columns(10);
  img {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 250px;
    @include respond-to(bp-small-only) {
      width: 70%;
    }
    @include respond-to(bp-large) {
      max-width: 350px;
    }
  }
}

.shop-details {
  padding: 2em $inner-distance;
  background: $section-background;

  @include respond-to(bp-large) {
    @include span-columns(6);
    padding: 1em;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
  }

  > div {
    @include respond-to(bp-xlarge) { // Preis und Größe zweispaltig darstellen
      @include row(); // cleart nach dem Block
      margin-bottom: 1em;

      > div {
        @include span-columns(3 of 6);
      }
    }
  }


  h1 {
    line-height: 1;
  }

  h2 {  // Zwischenüberschriften bei den Details
    margin-top: 0.5em;
    text-transform: uppercase;
    font-style: normal;
    color: $text-color-prim;
    font-size: 1em;
    font-weight: 600;
  }

}

.shop-color { // Farb-Auwahl
  font-size: 1.6em;
  width: 1.6em;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid $gray-1;
}

p.price { // Preis im Shop
  color: $brand-color-prim;
  font-size: 1.5em;
  margin-top: 1em;
  padding-bottom: 0;

  s { // Durchgestrichener Preis
    color: $gray-2;
    font-size: 0.8em;
  }
}

p.price-details {
  font-size: 0.8em;
}

.size {
  max-width: 12em;
}

.link-size {
  font-size: 0.9em;
  display: block;
  margin-top: 0.4em;
}




section.sec-verwandlung {
  text-align: center;
  padding: 2em 0 3em; // damit Gallery-Bilder bis an den Rand gehen

  h2 {
    text-align: center;
    padding: 0 $inner-distance; // damit Text nicht am Rand klebt
  }

  p {
    max-width: $max-width-text;
    margin: 0 auto;
    padding: 0 $inner-distance; // damit Text nicht am Rand klebt
  }

  .headline-icon {
    margin: 0 auto;
  }
}

.verwandlug-gallery {
  overflow: auto; // macht Scrollbar, wenn der Bildschirm zu klein ist
  margin-bottom: 2em;

  ul {
    padding: 0; // Rest
    list-style: none; // Rest
    margin: 0 auto;
    width: 640px; // damit Bilder nebeinander sind und es nicht umbricht
    @include respond-to(bp-medium) {
      width: 1040px;
    }
  }

  li {
    display: inline-block; // nebeineinander

    &:after {
      font-family: 'FontAwesome';
      content: $fa-var-chevron-circle-right;
      font-size: 1.5em;
      position: relative;
      bottom: 150px;
      left: -0.75em;
      color: $gray-1;
      @include respond-to(bp-medium) {
        bottom: 250px;
      }
    }
    &:last-child:after {
      content: none;
    }
  }

  img {
    width: 130px;
    @include respond-to(bp-medium) {
      width: 220px;
    }
  }

}

section.sec-belueftung {
  @include respond-to(bp-medium) {
    @include outer-container;
    @include display(flex);  // zum vertikalen zentrieren
  }

  > div:first-child {
    @include respond-to(bp-medium) {
      @include span-columns(6);
      margin-top: auto; // vertikal zentrieren
      margin-bottom: auto; // vertikal zentrieren
    }
    @include respond-to(bp-large) {
      @include span-columns(8);
    }
  }
  > div:last-child {
    @include respond-to(bp-medium) {
      @include span-columns(6);
    }
    @include respond-to(bp-large) {
      @include span-columns(4);
    }
  }
}

section.sec-kapuze {
  padding-top: 2em;
  @include respond-to(bp-medium) {
    @include outer-container;
    @include row($direction: RTL);  // Änderung der Reihenfolge der Container von Rechts nach links
    @include display(flex);  // zum vertikalen zentrieren
    @include flex-direction(row-reverse);
  }

  > div:first-child {
    @include respond-to(bp-medium) {
      @include span-columns(6);
      margin-top: auto; // vertikal zentrieren
      margin-bottom: auto; // vertikal zentrieren
    }
    @include respond-to(bp-large) {
      @include span-columns(8);
    }
  }
  > div:last-child {
    @include respond-to(bp-medium) {
      @include span-columns(6);
    }
    @include respond-to(bp-large) {
      @include span-columns(4);
    }
  }
  @include reset-layout-direction; // Rest der Reihenfolge für die nachfolgenden Sektionen

}

section.sec-small-feature-container {
  padding: 0;
  @include respond-to(bp-large) {
    @include outer-container;
    @include row(table);
  }
  > section {
    @include respond-to(bp-large) {
      @include span-columns(6);
    }
  }
  @include reset-display; // damit nachfolgende Spalten keine Tabellen sind
}

.sec-small-feature {
  text-align: center;
  padding-bottom: 2em;
  vertical-align: top; // damit es als Tabellen-Layout oben ausgerichtet ist
  
  .feature-image {
    display: block;
    margin: 0 auto;
  }
}

section.sec-verpackung {
  @extend .sec-small-feature;
  @include respond-to (bp-large) {
    border-right: 0.5em solid $background-color;
  }

  .feature-image {
    max-width: 90%;
    @include respond-to(bp-large) {
      margin-bottom: 2.5em;
      max-width: 500px;
    }
  }

}

section.sec-beine {
  @extend .sec-small-feature;
  border-top: 0.5em solid $background-color;
  @include respond-to (bp-large) {
    border-left: 0.5em solid $background-color;
    border-top: none;
  }

  .feature-image {
    @include respond-to(bp-medium) {
      max-width: 400px;
    }
  }
}

section.sec-text-features {
  text-align: center;
  padding: 2em $inner-distance;

  @include respond-to(bp-large) {
    padding-top: 4em;
    padding-bottom: 4em;
    font-size: 0.9em;
    @include outer-container;
  }

  .headline-icon {
    margin: 0 auto; // Icon immer zentriert
  }

  h3 {
    margin-top: 1em;
  }
  
  > div {
    @include respond-to(bp-large) {
      @include span-columns(4);    
    }
  }
}

section.sec-pflege {
  @extend .sec-text-features;
  @include respond-to(bp-large) {
    padding-top: 2em;
  }

  p {
    @include respond-to(bp-large) {
      text-align: left;
    }
  }

  .headline-icon {
    margin-bottom: 0.4em;
  }

  h3 {
    margin-top: 2.5em;
    @include respond-to(bp-large) {
      text-align: left;
    }
  }
}

// ### Vergleichstabelle ###

section.sec-table {
  padding: 0 5px; // Damit Tabelle näher am Rand ist bei kleineren Bildschirmen
}

.table-compare {
  margin: 3em auto 4em;

  @include respond-to(bp-small-only) {
    font-size: 0.8em;
  }

  tbody a:link, tbody a:visited {
    color: $text-color-prim;
  }

  th, td {
    padding: 0.5em 0.7em;
  }

  th {
    font-weight: normal;
    text-align: left;
    max-width: 10em;
  }

  td {
    text-align: center;
    max-width: 12em;
  }

  thead {
    color: $brand-color-prim;
    font-size: 1.4em;
    font-weight: 600;
    font-style: italic;
  }

  tbody {
    tr:nth-child(2n+1) {
      background-color: rgba($gray-1,0.3);
    }
    tr:hover {
      background-color: rgba($brand-color-prim,0.2);
    }
  }

  .fa { // Farbpunkte größer darstellen 
    font-size: 1.6em;
  }

  // Markierung um das aktuelle Produkt

  $td-selected-border: 3px solid $brand-color-prim;

  .td-selected {
    border: $td-selected-border;
    border-top: 0;
    border-bottom: 0;
  }

  thead tr .td-selected {
    border-top: $td-selected-border;
  }

  tbody tr:last-child .td-selected {
    border-bottom: $td-selected-border;
  }

}
