// Design einzelner Module

main {
  margin: 0;
}


// ################
// ## GENERELLES ##
// ################


section {
  padding: 0 $inner-distance;

  p {
    margin: 0;
    padding-bottom: 1em;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    padding-top: 1em;
  }
}

.callout-bar {
  padding: 1em $inner-distance*2 0.7em;
  text-align: center;
  background-color: $brand-color-prim;
  color: $background-color;
  font-size: 0.9em;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

.callout-bar-close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.4em;

  &:link, &:visited {
    color: $background-color;
    text-decoration: none;
    @include transition(color 0.3s ease-out)
  }
  &:hover {
    color: lighten($background-color-footer,50%);
  }
}


// ###############
// ## HOME-PAGE ##
// ###############

section.sec-keyvisual {
  padding: 0;
  img {
    width: 100%;
  }
}

section.sec-feature-list {
  background: $section-background;
  padding: 0.5em $inner-distance 2em;
  text-align: center;

  .inner-wrapper {
    @include outer-container;
  }

  h2 {
    max-width: $max-width-text/1.7;
    margin: 0 auto 1em;
    font-size: 1.4em;
    @include respond-to(bp-medium) {
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
    @include respond-to(bp-large) {
      font-size: 1.7em;
    }

  }

  h3 {
    text-transform: uppercase;
    font-style: italic;
    color: $brand-color-prim;
    margin: 0.5em 0 0.3em 0;
  }
  p {
    font-size: 0.9em;
    @include respond-to(bp-small-only) {
      display: none; // Beschreibungstexte bei Mobile ausblenden
    }
  }

  .icon-drop {
    width: 60px;
    @include respond-to(bp-medium) {
      width: 80px;
    }
    @include respond-to(bp-xlarge) {
      width: 100px;
    }
  }

}

.flex-grid-container {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(center);

  > div {
    width: 33%;
    @include respond-to(bp-medium) {
      padding: 0 0.5em;
    }
    @include respond-to(bp-xlarge) {
      width: 20%;
    }
  }
}

section.sec-shop-overview {
  @extend section.sec-small-feature-container; // Zweispaltigkeit
  background: $section-background;
  text-align: center;
  @include respond-to(bp-large) {
    border-top: 0.5em solid $background-color;
  }

  .img-shop {  // Shop-Bilder
    margin: 0 auto;
    max-width: 180px;
    @include respond-to(bp-medium) {
      max-width: 250px;
    }
    @include respond-to(bp-large) {
      max-width: 220px;
    }
  }

  .icon-eu-made {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 100px;

    @include respond-to(bp-medium-only) {
      right: 20%;
      width: 110px;
    }
    @include respond-to(bp-large) {
      right: 18%;
    }
    @include respond-to(bp-xlarge) {
      right: 22%;
    }
  }

  a:link, a:visited {
    text-decoration: none;
  }

  h2 {
    font-size: 1.6em;
    margin-bottom: -0.2em;
    margin-top: 0;
  }

  ul {
    max-width: 18em;
    margin: 1em auto;
  }

  section {
    padding: 2em $inner-distance;
    border-top: 0.5em solid $background-color;
    position: relative;  // Als Referenz für Eu-Made-Icons

    @include respond-to(bp-large) {
      border-top: none;
    }
    &:first-child{
      @include respond-to(bp-large) {
        border-right: 0.25em solid $background-color;
      }
    }
    &:last-child{
      @include respond-to(bp-large) {
        border-left: 0.25em solid $background-color;
      }
    }
  }
}


// ## Großes Zitat

section.sec-big-quote {
  background: $section-background;
  padding: 5em $inner-distance 4em;
  text-align: center;
}

.big-quote {
  padding-bottom: 0.2em;
  line-height: 1.1;
  font-size: 1.7em;
  @include respond-to(bp-large) {
    font-size: 2em;
  }
  font-weight: 600;
  font-style: italic;
  color: $brand-color-prim;
}


// ## Reviews, Kundenstimmen

section.sec-reviews {
  padding: 2em $inner-distance 1em;
  @include respond-to(bp-large) {
    padding: 3em $inner-distance 2em;
  }
  text-align: center;

  .inner-wrapper {
    position: relative; // Referenz für Pfeile
  }
}

.slider-link {
  position: absolute;
  font-size: 2em;
  top: 2.5em;
  @include respond-to(bp-medium) {
    top: 1.2em;
  }

  &:link, &:visited {
    @include transition(color 0.3s ease-out);
    color: $gray-1;
    text-decoration: none;
  }

  &:hover {
    color: rgba($brand-color-prim,0.7);
  }
  &:active {
    color: $brand-color-prim;
  }
}

.slider-link-left {
  left: 0;
  @include respond-to(bp-xlarge) {
    left: 10%;
  }
}

.slider-link-right {
  right: 0;
  @include respond-to(bp-xlarge) {
    right: 10%;
  }
}

.review-quote {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 0.5em;
  max-width: $max-width-text;
}

.review-name {
  font-size: 0.9em;
  color: $brand-color-prim;
}


section.sec-bottom-links {
  @extend section.sec-shop-overview; // Zwei-Spaltiges Layout übernehmen

  > section {
    @include respond-to(bp-large) {
      padding: 4em $inner-distance;
    }
  }

  h2 {
    font-size: 1.3em;
    margin-bottom: 0.4em;
  }
  p {
    max-width: 16em;
    margin: 0 auto;
  }
}


// #####################
// ## ABOUT / CONTENT ##
// #####################

.page-content section {
  max-width: $max-width-text;
  padding: 1.5em $inner-distance 3em;
  @include respond-to(bp-medium) {
    padding: 2.5em $inner-distance;
  }
}


// ##################
// ## PRODUKTSEITE ##
// ##################


.page-product section {
  padding: 0 $inner-distance;

  @include respond-to(bp-small-only) {
    text-align: center;  // Text überall zentrieren bei kleinstem Breakpoint
  }

  &:nth-child(2n+1) { // Hintergrundfläche jeder zweiten Sektion anders
    background: $section-background;
  }
}

.headline-icon {
  display: block;
  margin-bottom: 0.5em;

  @include respond-to(bp-small-only) {
    margin: 0 auto; // Icon überall zentrieren bei kleinstem Breakpoint
  }
}

.feature-image {
  width: 100%;
  @include respond-to(bp-small-only) {
    max-width: 70%;
  }
}

// ##############
// #### SHOP ####
// ##############

.shop-container {
  padding: 0;
  text-align: inherit;

  @include respond-to(bp-large) {
    padding: 1em $inner-distance;
    background: url(../img/shop-bg-big.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .inner-wrapper {
    @include respond-to(bp-large) {
      @include outer-container;
    }
  }

}

.shop-gallery {
  padding: 1em $inner-distance;
  @include respond-to(bp-large) {
    padding: 0;
  }
  background: url(../img/shop-bg-big.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include outer-container;

  @include respond-to(bp-large) {
    background: none;
    @include span-columns(6);
  }
  @include respond-to(bp-xlarge) {
    @include span-columns(7);
  }

}

.shop-gallery-thumbs {
  @include span-columns(2);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    background-color: rgba(255,255,255,0.7);
    @include size(75px); // width: 75; height: 75;
    @include respond-to(bp-medium) {
      @include size(90px);
    }
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 0.7em;
  }
  img {
    height: 100%;
    display: block;
    margin: 0 auto;
  }

}

li.thumb-active {
  background-color: rgba(255,255,255,0.95);
}

.shop-gallery-img-big {
  @include span-columns(10);
  img {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 250px;
    @include respond-to(bp-small-only) {
      width: 70%;
    }
    @include respond-to(bp-large) {
      // max-width: 300px;
    }
  }
}

.shop-details {
  padding: 2em $inner-distance;
  background: $section-background;

  @include respond-to(bp-large) {
    @include span-columns(6);
    padding: 1.5em;
    background-color: rgba(255,255,255,0.9);
    border-radius: 10px;
  }

  @include respond-to(bp-xlarge) {
    @include span-columns(5);
  }

  > div {
    @include respond-to(bp-large) { // Preis und Größe zweispaltig darstellen
      @include row(); // cleart nach dem Block
      margin-bottom: 1em;

      > div:first-child { // Preis
        @include span-columns(2 of 6);
      }
      > div:last-child { // Größe
        @include span-columns(4 of 6);
      }
    }
  }

  @include respond-to(bp-large) {
    font-size: 0.8em; // kleinere Schrift bei Zweispaltiger Darstellung des 
  }

  h1 {
    line-height: 1;
    font-size: 1.6em;
  }

  h2 {  // Zwischenüberschriften bei den Details
    margin-top: 1.2em;
    margin-bottom: 0.8em;
    text-transform: uppercase;
    font-style: normal;
    color: $text-color-prim;
    font-size: 1em;
    font-weight: 600;
  }

}

.shop-color { // Farb-Auwahl
  font-size: 1.6em;
  width: 1.6em;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid $gray-1;
}

p.price { // Preis im Shop
  color: $brand-color-contrast;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 0;

  s { // Durchgestrichener Preis
    color: $gray-2;
    font-size: 0.8em;
  }
}

p.price-details {
  font-size: 0.8em;
  margin: 0 0 1em 0;
}

.size {
  max-width: 12em;
}

.link-size {
  text-transform: none;
  font-weight: 400;
  font-size: 0.9em;
  margin-left: 0.4em;
}

.sticky-shopping-cart {
  padding: 0.5em $inner-distance;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: right;

  @include respond-to(bp-small-only) {
    padding: 0;
    box-shadow: 0 -1px 4px 1px rgba($brand-color-sec,0.2);
  }

  @include respond-to(bp-medium) {
    padding-bottom: 1.5em;
  }
  
  .btn-buy {
    box-shadow: 1px 0 3px rgba(0,0,0,0.3);
    margin: 0;
  }
}



section.sec-verwandlung {
  text-align: center;
  padding: 2em 0 3em; // damit Gallery-Bilder bis an den Rand gehen

  h2 {
    text-align: center;
    padding: 0 $inner-distance; // damit Text nicht am Rand klebt
  }

  p {
    max-width: $max-width-text;
    margin: 0 auto;
    padding: 0 $inner-distance; // damit Text nicht am Rand klebt
  }

  .headline-icon {
    margin: 0 auto;
  }
}

.verwandlug-gallery {
  overflow: auto; // macht Scrollbar, wenn der Bildschirm zu klein ist
  margin-bottom: 2em;

  ul {
    padding: 0; // Rest
    list-style: none; // Rest
    margin: 0 auto;
    width: 640px; // damit Bilder nebeinander sind und es nicht umbricht
    @include respond-to(bp-medium) {
      width: 750px;
    }
    @include respond-to(bp-large) {
      width: 100%;
    }
  }

  li {
    display: inline-block; // nebeineinander

    &:after {
      font-family: 'FontAwesome';
      content: $fa-var-chevron-circle-right;
      font-size: 1.5em;
      position: relative;
      bottom: 120px;
      left: -0.75em;
      color: $gray-1;
      @include respond-to(bp-medium) {
        bottom: 180px;
      }
      @include respond-to(bp-large) {
        bottom: 220px;
      }
    }
    &:last-child:after {
      content: none;
    }
  }

  img {
    width: 110px;
    @include respond-to(bp-medium) {
      width: 150px;
    }
    @include respond-to(bp-large) {
      width: 180px;
    }
    @include respond-to(bp-xlarge) {
      width: 200px;
    }
  }

}

section.sec-belueftung {
  .inner-wrapper {
    max-width: $max-width-inner-container !important;
    @include respond-to(bp-medium) {
      @include outer-container;
      @include display(flex);  // zum vertikalen zentrieren
    }
  }

  .inner-wrapper > div:first-child {
    @include respond-to(bp-medium) {
      @include span-columns(6);
      margin-top: auto; // vertikal zentrieren
      margin-bottom: auto; // vertikal zentrieren
    }
    @include respond-to(bp-large) {
      @include span-columns(8);
    }
  }
  .inner-wrapper > div:last-child {
    @include respond-to(bp-medium) {
      @include span-columns(6);
    }
    @include respond-to(bp-large) {
      @include span-columns(4);
    }
  }

  p {
    @include respond-to(bp-large) {
      max-width: 25em;
    }
  }
}

section.sec-kapuze {
  padding-top: 2em;

  .inner-wrapper {
    @include respond-to(bp-medium) {
      max-width: $max-width-inner-container !important;
      @include outer-container;
      @include row($direction: RTL);  // Änderung der Reihenfolge der Container von Rechts nach links
      @include display(flex);  // zum vertikalen zentrieren
      @include flex-direction(row-reverse);
    }
  }

  .inner-wrapper > div:first-child {
    @include respond-to(bp-medium) {
      @include span-columns(6);
      margin-top: auto; // vertikal zentrieren
      margin-bottom: auto; // vertikal zentrieren
    }
    @include respond-to(bp-large) {
      @include span-columns(8);
    }
  }
  .inner-wrapper > div:last-child {
    @include respond-to(bp-medium) {
      @include span-columns(6);
    }
    @include respond-to(bp-large) {
      @include span-columns(4);
    }
  }
  @include reset-layout-direction; // Rest der Reihenfolge für die nachfolgenden Sektionen

  p {
    @include respond-to(bp-large) {
      max-width: 25em;
    }
  }

}

section.sec-small-feature-container {
  padding: 0;

  .inner-wrapper {
    @include respond-to(bp-large) {
      @include outer-container;
      @include row(table);
    }
  }
  section {
    @include respond-to(bp-large) {
      @include span-columns(6);
    }
  }
  @include reset-display; // damit nachfolgende Spalten keine Tabellelen sind
}

.sec-small-feature {
  text-align: center;
  padding-bottom: 2em;
  vertical-align: top; // damit es als Tabellen-Layout oben ausgerichtet ist
  
  .feature-image {
    display: block;
    margin: 0 auto;
  }
}

section.sec-verpackung {
  @extend .sec-small-feature;
  @include respond-to (bp-large) {
    border-right: 0.5em solid $background-color;
  }

  .feature-image {
    max-width: 90%;
    @include respond-to(bp-large) {
      margin-bottom: 2.5em;
      max-width: 500px;
    }
    @include respond-to(bp-xlarge) {
      margin-bottom: 1.5em;
    }
  }

}

section.sec-beine {
  @extend .sec-small-feature;
  border-top: 0.5em solid $background-color;
  @include respond-to (bp-large) {
    border-left: 0.5em solid $background-color;
    border-top: none;
  }

  .feature-image {
    @include respond-to(bp-medium) {
      max-width: 400px;
    }
  }
}

section.sec-text-features {
  text-align: center;
  padding: 2em $inner-distance;

  @include respond-to(bp-large) {
    padding-top: 4em;
    padding-bottom: 4em;
    font-size: 0.9em;
  }

  .inner-wrapper {
    @include respond-to(bp-large) {
      @include outer-container;
    }
  }

  .headline-icon {
    margin: 0 auto; // Icon immer zentriert
  }

  h3 {
    margin-top: 1em;
  }
  
  .inner-wrapper > div {
    @include respond-to(bp-large) {
      @include span-columns(4);    
    }
  }
}

section.sec-pflege {
  @extend .sec-text-features;
  @include respond-to(bp-large) {
    padding-top: 2em;
  }

  p {
    @include respond-to(bp-large) {
      text-align: left;
    }
  }

  .headline-icon {
    margin-bottom: 0.4em;
  }

  h3 {
    margin-top: 2.5em;
    @include respond-to(bp-large) {
      text-align: left;
    }
  }
}

// ### Vergleichstabelle ###

section.sec-table {
  padding: 0 5px 4em; // Damit Tabelle näher am Rand ist bei kleineren Bildschirmen

  .btn-container {
    text-align: center;
    padding: 0 $inner-distance;
  }
  .btn-buy {
    margin: 0;
  }

}

.table-compare {
  margin: 3em auto 4em;

  @include respond-to(bp-small-only) {
    font-size: 0.8em;
  }

  tbody a:link, tbody a:visited {
    color: $text-color-prim;
  }

  th, td {
    padding: 0.5em 0.7em;
  }

  th {
    font-weight: normal;
    text-align: left;
    max-width: 10em;
  }

  td {
    text-align: center;
    max-width: 12em;
  }

  thead {
    color: $brand-color-prim;
    font-size: 1.4em;
    font-weight: 600;
    font-style: italic;
  }

  tbody {
    tr:nth-child(2n+1) {
      background-color: rgba($gray-1,0.3);
    }
    tr:hover {
      background-color: rgba($brand-color-prim,0.2);
    }
  }

  .fa { // Farbpunkte größer darstellen 
    font-size: 1.6em;
  }

  // Markierung um das aktuelle Produkt

  $td-selected-border: 3px solid $brand-color-prim;

  .td-selected {
    border: $td-selected-border;
    border-top: 0;
    border-bottom: 0;
  }

  thead tr .td-selected {
    border-top: $td-selected-border;
  }

  tbody tr:last-child .td-selected {
    border-bottom: $td-selected-border;
  }

}


// #################
// #### HÄNDLER ####
// #################

.page-haendler {
  margin: 2em 0 4em;
}

.nav-haendler-switch {
  @include respond-to(bp-small-only) {
    display: none;
  }

  border: 2px solid $gray-2;
  border-radius: 6px;
  display: inline-block;
  padding-right: 0.3em;
  overflow: hidden;
  margin-bottom: 1em;
  float: right;

  li {
    display: inline-block;
    margin-right: -0.3em; // damit die Links nebeneinander anschließen
    padding: 0;
  }

  a:link, a:visited {
    display: inline-block;
    margin: 0;
    padding: 0.4em 0.7em 0.2em;
    text-decoration: none;
    background-color: $background-color;
    color: $gray-2;
  }
  a:hover, a:hover.active {
    background-color: $gray-1;
    color: $gray-2;
  }
  a:link.active, a:visited.active {
    background-color: $gray-2;
    color: $background-color;
  }
}

.nav-haendler {
  @include respond-to(bp-small-only) {
    display: none; // Bei kleiner Auflösung ausblenden
  }

  ul {
    margin-bottom: 0.5em;
  }

  li {
    display: inline-block;
    margin-top: 0.2em;

    &:after {
      content: "|";
      color: $gray-1;
    }
    &:last-child:after {
      content: none;
    }
  }
  .country {
    font-weight: 600;
    &:after {
      content: none;
    }
  }
}

section.haendler-map {
  padding: 0;
  margin: 2em 0 -4em;
  border-top: 1px solid $gray-2;
  img {
    width: 100%;
  }
}


section.haendler-verzeichnis {

  .inner-wrapper > div {
    @include outer-container;
  }
  .inner-wrapper > div > div {
    @include respond-to(bp-medium-only) {
      @include span-columns(6);
      @include omega(2n);
    }
    @include respond-to(bp-large-only) {
      @include span-columns(4);
      @include omega(3n);
    }
    @include respond-to(bp-xlarge) {
      @include span-columns(3);
      @include omega(4n);
    }
  }

  h2 {
    border-bottom: 3px solid $brand-color-prim;
    padding-bottom: 3px;
    margin-top: 0.5em;
    font-size: 1.5em;
    position: relative;

    // Aufklapp-Pfeil bei Handhelds einblenden
    &:after {
      @include respond-to(bp-small-only) {
        font-family: "ElegantIcons";
        content: '\47';
        font-style: normal;
        position: absolute;
        right: 0;
        font-weight: normal;
      }
    }
  }
  h4 {
    @include respond-to(bp-medium) {
      margin: 1em 0 0;

    }
  }

}
