// FARBEN

$brand-color-prim: #000 // Primäre Unternehmensfarbe
$brand-color-sec: #000 // Sekundäre Unternehmensfarbe
$text-color-prim: #000 // Primäre Textfarbe
$text-color-sec: #000 // Sekünder Textfarbe
$background-color: #fff // Hintergrundfarbe


// GRÖSSEN

$max-width: 1000px
$max-width-text: 40em
$max-width-images: 80% // Bei Projektdetail ab größeren Bildschirmbreiten