// FARBEN

$brand-color-prim: rgb(16, 119, 189);
$brand-color-sec: rgb(26, 26, 24);
$brand-color-tir: #018E8E;
$brand-color-contrast: #C82725; // grün: #1ec117
$text-color-prim: rgb(8, 60, 95);
$text-color-sec: black;
$background-color: rgb(248, 248, 248);
$background-color-footer: rgb(37, 80, 111);

$gray-1: rgb(200,200,200);
$gray-3: rgb(160,160,160);
$gray-2: rgb(120,120,120);

$section-background: url(soft_wallpaper.jpg) #dedede;

// GRÖSSEN

$max-width: 1200px; // wird auch vom neat Grid verwendet
$max-width-inner-container: 1000px;  // Für einzelne Module im Shop
$max-width-text: 45em;
$max-width-images: 80%;

$inner-distance: 5%;

// TYPO
$font-family: Panton, "nudista-web", Arial, sans-serif;


// BREAKPOINTS
$bp-small: 549px;
$bp-medium: 550px;
$bp-large: 900px;
$bp-xlarge: 1200px;
$bp-xxlarge: 1500px;
