%footer.page-footer
	.inner-wrapper
		.container
			%div
				%nav.nav-footer
					%ul
						%li
							%a(href="#") Zahlung, Versand & Rückgabe
						%li
							%a(href="#") Presse
						%li
							%a(href="#") Partner
						%li
							%a(href="#") Kontakt
						%li
							%a(href="#") Datenschutz
						%li
							%a(href="#") AGB
						%li
							%a(href="#") Impressum
			%div
				%h4 Bleib verbunden
				%nav
					%ul
						%li
							%a(href="http://facebook.com/raincombi" target="blank")
								%span.social_facebook
								Facebook
						%li
							%a(href="http://instagram.com/raincombi" target="blank")
								%span.social_instagram
								Instagram
				%form.form-newsletter
					%input(type="email" required placeholder="Deine E-Mail-Adresse")
					%input(type="submit" value="Newsletter abonnieren")

			%div.handhelds-hide
				%h4 Aus unserem Blog
				%ul.list-blog
					%li
						%a(href="<!-- @path blog-article -->") RAINCOMBI Produkt des Jahres 2015
					%li
						%a(href="<!-- @path blog-article -->") 7 Tipps wie du noch stressfreier mit dem Rad in die Arbeit kommst
					%li
						%a(href="<!-- @path blog-article -->") Sommer in Schweden – nicht mehr ohne RAINCOMBI
		%ul.ul-footer-credits
			%li © RAINCOMBI 2015
			%li
				%a(href="http://8660.at" target="blank") Desing: 86/60

