<!DOCTYPE html>
<!-- @reload -->

%html

	%head
		%title <!-- $title -->
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		%meta(name="robots" content="noindex, nofollow")
		%link(href="<!-- @path favicon -->" rel="shortcut icon")
		<!-- @stylesheet style -->
		<!-- @javascript jquery-1.8.3.min -->
		<!-- @javascript hide-nav -->		
		
		

	%body

		%header.page-header
			.inner-wrapper
				%a(href="<!-- @path index -->")
					%img.logo(src="<!-- @path raincombi-logo-slogan -->" alt="RAINCOMBI – Dress smart, stay dry")
				.handheld-nav
					/ .handheld-navi-lang
					/ 	%form
					/ 		%select
					/ 			%option DE
					/ 			%option EN
					%a.handheld-nav-button(href="#")
						Menü
				<!-- @include _nav -->