<!-- @reload -->

<!DOCTYPE html>
%html

	%head
		%title Boilerplate
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		%meta(name="robots" content="noindex, nofollow")
		%link(href="<!-- @path  -->" rel="shortcut icon")
		%link(href="<!-- @path  -->" rel="apple-touch-icon")
		<!-- @stylesheet style -->

	%body

		%header
<!-- @include _nav -->