<!-- @reload -->

<!DOCTYPE html>
%html

	%head
		%title <!-- $title -->
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		%meta(name="robots" content="noindex, nofollow")
		%link(href="<!-- @path  -->" rel="shortcut icon")
		%link(href="<!-- @path  -->" rel="apple-touch-icon")
		<script src="//use.typekit.net/xbl5zgc.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		<!-- @stylesheet style -->

	%body

		%header
			%a(href="<!-- @path index -->")
				%img.logo(src="<!-- @path raincombi-logo-slogan -->" alt="RAINCOMBI – Dress smart, stay dry")
			.handheld-navi
				/ .handheld-navi-lang
				/ 	%form
				/ 		%select
				/ 			%option DE
				/ 			%option EN
				%a.handheld-navi-link(href="#")
					Menü
			<!-- @include _nav -->