%nav
	.nav-meta
		%ul
			%li
				%a(href="<!-- @path about -->") Über uns
			%li
				%a(href="#") Verkaufspartner werden
			%li
				%a(href="#") Kontakt
			%li
				%a(href="#") Presse
			%li.nav-hide
				%a(href="http://facebook.com/raincombi" target="blank") 
					%i.fa.fa-facebook-square
			%li.nav-hide
				%a(href="http://instagram.com/raincombi" target="blank")
					%i.fa.fa-instagram
			%li.nav-hide
				%form
					%select
						%option DE
						%option EN

	.nav-main
		%ul
			%li
				%a(href="#") Overall Parka
			%li
				%a(href="<!-- @path overall-sporty -->") Overall Sporty
			%li
				%a(href="#") Händler
			%li
				%a(href="#") Blog
