%nav.nav-header
	.nav-meta
		%ul
			%li
				%a(href="<!-- @path about -->") Über uns
			%li
				%a(href="#") Verkaufspartner werden
			%li
				%a(href="#") Kontakt
			%li
				%a(href="<!-- @path presse -->") Presse
			%li.handhelds-hide.bp-medium-hide
				%a(href="http://facebook.com/raincombi" target="blank") 
					%span.social_facebook_square
			%li.handhelds-hide.bp-medium-hide
				%a(href="http://instagram.com/raincombi" target="blank")
					%span.social_instagram
			%li.handhelds-hide
				%ul.language-select
					%li
						%a.language-current(href="#") DE
					%li 
						%a(href="#") EN

	.language-select-handheld
		%ul
			%li
				%a.language-current(href="#") Deutsch
			%li 
				%a(href="#") English

	.nav-main
		%ul
			%li
				%a(href="#") Overall Parka
			%li
				%a(href="<!-- @path overall-sporty -->") Overall Sporty
			%li
				%a(href="<!-- @path haendler -->") Händler
			%li
				%a(href="<!-- @path blog-article -->") Blog
